
<div id="sign-up">
  <h2>Howard</h2>
  <svg id="howard-brand" width="250px" height="150px" viewBox="-6 -8 255 260" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.1 (8751) - http://www.bohemiancoding.com/sketch -->
    <title>howard1 2</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <circle id="Oval-1" fill="#F3B6B6" sketch:type="MSShapeGroup" cx="113" cy="116.5" r="122.5"></circle>
        <rect id="Rectangle-5" stroke="#979797" fill="#FFE7E7" sketch:type="MSShapeGroup" x="65.5" y="27" width="91" height="168" rx="1"></rect>
        <rect id="Rectangle-9" fill="#FFFFFF" sketch:type="MSShapeGroup" x="65" y="56" width="91" height="113"></rect>
        <g id="icon_77357" sketch:type="MSLayerGroup" transform="translate(63.500000, 27.000000)" fill="#D75C5C">
            <path d="M85.8256,172.816333 L9.01615,172.816333 C2.23585,172.816333 -0.225525,166.632083 -0.225525,162.48025 L-0.225525,8.54341667 C-0.225525,2.60325 5.444125,-0.103416667 10.711225,-0.103416667 L86.1069,-0.103416667 C93.8669,-0.103416667 95.916025,7.57916667 95.916025,11.6391667 L95.916025,163.601583 C95.920875,166.0835 95.0697,168.246417 93.46435,169.851083 C90.581025,172.73175 86.303325,172.816333 85.8256,172.816333 L85.8256,172.816333 Z M10.711225,5.93825 C10.672425,5.93825 5.836975,6.05183333 5.836975,8.54341667 L5.836975,162.48025 C5.851525,163.471083 6.1207,166.774667 9.01615,166.774667 L85.81105,166.774667 C86.77135,166.755333 89.858375,166.477417 89.853525,163.606417 L89.853525,11.6391667 C89.84625,11.0688333 89.6959,5.93825 86.1069,5.93825 L10.711225,5.93825 L10.711225,5.93825 Z" id="Shape" sketch:type="MSShapeGroup"></path>
            <rect id="Rectangle-path" sketch:type="MSShapeGroup" transform="translate(46.668822, 29.479668) rotate(89.822384) translate(-46.668822, -29.479668) " x="43.6375573" y="-15.4052979" width="6.06252913" height="89.7699313"></rect>
            <rect id="Rectangle-path" sketch:type="MSShapeGroup" x="36.375" y="15.9166667" width="22.8726" height="4.83333333"></rect>
            <rect id="Rectangle-path" sketch:type="MSShapeGroup" transform="translate(46.824507, 140.798826) rotate(89.822384) translate(-46.824507, -140.798826) " x="43.7932423" y="95.9138604" width="6.06252913" height="89.7699313"></rect>
            <ellipse id="Oval" sketch:type="MSShapeGroup" cx="48.143525" cy="155.728083" rx="6.918525" ry="6.89475"></ellipse>
        </g>
        <g id="icon_16643" sketch:type="MSLayerGroup" transform="translate(76.500000, 76.000000)">
            <g id="Captions" transform="translate(1.000000, 0.000000)"></g>
            <g id="Your_Icon" transform="translate(0.000000, 6.680000)" fill="#FF2E2E" sketch:type="MSShapeGroup">
                <path d="M16.5,2.10044 C9.98163,2.10044 4.74573,5.22555 1.08463,10.04481 C1.52669,10.62637 2.00037,11.72222 2.50164,12.25232 C5.21259,8.83736 8.43349,6.38402 12.7242,5.46487 C12.83983,5.44875 12.95732,5.43914 13.0776,5.43914 C14.53925,5.43914 15.725,6.62458 15.725,8.08623 C15.725,9.5485 14.53925,10.73332 13.0776,10.73332 C12.00221,10.73332 11.07841,10.091 10.66394,9.16968 C10.64937,9.33832 10.64038,9.5082 10.64038,9.67994 C10.64038,12.91572 13.2636,15.53925 16.49969,15.53925 C19.73547,15.53925 22.35962,12.91572 22.35962,9.67994 C22.35962,8.06887 21.70862,6.61032 20.65648,5.55136 C24.7894,6.53096 27.86832,8.93873 30.49836,12.25232 C30.99963,11.72253 31.47331,10.62668 31.91506,10.04481 C28.25396,5.22555 23.01961,2.10044 16.5,2.10044 L16.5,2.10044 Z" id="Shape" transform="translate(16.499845, 8.819845) rotate(-9.000000) translate(-16.499845, -8.819845) "></path>
                <path d="M55.41537,1 C48.897,1 43.6611,4.12511 40,8.94437 C40.44206,9.52593 40.91574,10.62178 41.41701,11.15188 C44.12796,7.73692 47.34886,5.28358 51.63957,4.36443 C51.7552,4.34831 51.87269,4.3387 51.99297,4.3387 C53.45462,4.3387 54.64037,5.52414 54.64037,6.98579 C54.64037,8.44806 53.45462,9.63288 51.99297,9.63288 C50.91758,9.63288 49.99378,8.99056 49.57931,8.06924 C49.56474,8.23788 49.55575,8.40776 49.55575,8.5795 C49.55575,11.81528 52.17897,14.43881 55.41506,14.43881 C58.65084,14.43881 61.27499,11.81528 61.27499,8.5795 C61.27499,6.96843 60.62399,5.50988 59.57185,4.45092 C63.70477,5.43052 66.78369,7.83829 69.41373,11.15188 C69.915,10.62209 70.38868,9.52624 70.83043,8.94437 C67.16933,4.12511 61.93498,1 55.41537,1 L55.41537,1 Z" id="Shape" transform="translate(55.415215, 7.719405) rotate(4.000000) translate(-55.415215, -7.719405) "></path>
            </g>
        </g>
        <path d="M111.1875,75.9960938 L105.039062,124.847656 L123.113281,124.847656" id="Path-8" stroke="#E87A7A" stroke-width="3" sketch:type="MSShapeGroup"></path>
        <g id="Oval-4-+-Oval-4-+-Path-1" sketch:type="MSLayerGroup" transform="translate(63.500000, 67.000000)" stroke-width="3" stroke="#D75C5C" fill-opacity="0.171790082" fill="#9B9B9B">
            <g id="Group" sketch:type="MSShapeGroup">
                <ellipse id="Oval-4" cx="28.8909091" cy="25.7083333" rx="15.8909091" ry="16.2916667"></ellipse>
                <ellipse id="Oval-4" cx="68.4181818" cy="25" rx="15.8909091" ry="16.2916667"></ellipse>
                <path d="M43.0301136,21.2075195 C43.0301136,21.2075195 47.9447443,15.042806 54.1359375,21.2075195" id="Path-1"></path>
                <path d="M13.5078125,22.7382812 L0.5,0.5" id="Path-4"></path>
                <path d="M95.5078125,22.5 L84.515625,3.5" id="Path-4" transform="translate(90.007812, 13.000000) scale(-1, 1) translate(-90.007812, -13.000000) "></path>
            </g>
        </g>
        <path d="M87.78125,135.445312 C87.78125,135.445312 111.778668,166.851562 137.965506,135.445312" id="Path-9" stroke="#E77A7A" stroke-width="3" sketch:type="MSShapeGroup"></path>
    </g>
</svg>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div id="error_explanation">
    <ul>
      <% if flash[:alert] == 'Invalid email or password.' %>
        <li><%= flash[:alert] %></li>
      <% end %>
    </ul>
  </div>
  <div><%= f.email_field :email, autofocus: true, placeholder: 'email' %></div>
  <div><%= f.password_field :password, autocomplete: "off", placeholder: 'password' %></div>
  <div><%= f.submit "Log in", class: 'sign-up' %></div>
<% end %>
<div class="devise-links">
   <%= render "devise/shared/links" %>
</div>
</div>

